.site-footer {
  background: #4b4bc4;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem 0;
}

.site-footer h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.site-footer section {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.site-footer a:hover {
  text-decoration: underline;
}
